TMDB_KEY=your_tmdb_api_key

# openssl rand -base64 64
JWT_ACCESS_SECRET=genera_uno_con_openssl_rand_base64_64
JWT_REFRESH_SECRET=otro_secreto_diferente_openssl_rand_base64_64

FRONTEND_URL=http://localhost:5173
NODE_ENV=development